.jcarousel-skin-embedagram .jcarousel-container {
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    background: #BBB;
    border: 1px solid #333;
}

.jcarousel-skin-embedagram .jcarousel-direction-rtl {
  direction: rtl;
}

.jcarousel-skin-embedagram .jcarousel-container-horizontal {
    width: 320px;
    padding: 20px 40px;
}

.jcarousel-skin-embedagram .jcarousel-container-vertical {
    width: 100px;
    height: 320px;
    padding: 40px 20px;
}

.jcarousel-skin-embedagram .jcarousel-clip-horizontal {
    width:  320px;
    height: 100px;
}

.jcarousel-skin-embedagram .jcarousel-clip-vertical {
    width:  100px;
    height: 320px;
}

.jcarousel-skin-embedagram .jcarousel-item {
    width: 100px;
    height: 100px;
}

.jcarousel-skin-embedagram .jcarousel-item-horizontal {
  margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-embedagram .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-embedagram .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-embedagram .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
